accelerate
bitsandbytes
blinker
certifi
charset-normalizer
click
cmake
dice-mc
einops
filelock
Flask
fsspec
huggingface-hub
idna
itsdangerous
jinja2
lit
markdown-it-py
MarkupSafe
mdurl
mpmath
networkx
numpy
packaging
peft
psutil
Pygments
PyYAML
regex
requests
rich
safetensors
scipy
sympy
tokenizers
torch
tqdm
transformers
typing_extensions
urllib3
Werkzeug


